<link rel="stylesheet" href="/css/header.css">
<header class="header">
    <!--导航栏-->
    <nav class="nav wrapper" id="nav">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-2 col-md-2 col-xs-2">
                    <div class="logo">
                        <a href="/" title="LearnCoding">LearnCoding</a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-xs-8" id="topNav">
                    <ul class="top-nav clearfix">
                        <li><a class="menu" href="/l/70_1_12.html" data-id="70">开发工具<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li><a class="menu" href="/l/71_1_12.html" data-id="71">IDE相关</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/74_1_12.html" data-id="74">idea常用功能</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/72_1_12.html" data-id="72">常用插件</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/73_1_12.html" data-id="73">lombok</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/79_1_12.html" data-id="79">打包工具</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/80_1_12.html" data-id="80">maven</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/81_1_12.html" data-id="81">源码管理</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/82_1_12.html" data-id="82">git</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/121_1_12.html" data-id="121">系统相关</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/122_1_12.html" data-id="122">VMware</a></li>
                                            <li><a class="menu" href="/l/132_1_12.html" data-id="132">JDK相关</a></li>
                                            <li><a class="menu" href="/l/133_1_12.html" data-id="133">Linux</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/130_1_12.html" data-id="130">API工具</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/131_1_12.html" data-id="131">swagger</a></li>
                                        </ul>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/177_1_12.html" data-id="177">常用软件</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="menu" href="/l/83_1_12.html" data-id="83">学习与实践<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li><a class="menu" href="/l/85_1_12.html" data-id="85">常用框架</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/84_1_12.html" data-id="84">Spring</a></li>
                                            <li><a class="menu" href="/l/86_1_12.html" data-id="86">Spring MVC</a></li>
                                            <li><a class="menu" href="/l/87_1_12.html" data-id="87">Mybatis</a></li>
                                            <li><a class="menu" href="/l/88_1_12.html" data-id="88">Spring JPA</a></li>
                                            <li><a class="menu" href="/l/89_1_12.html" data-id="89">Spring Boot</a></li>
                                            <li><a class="menu" href="/l/90_1_12.html" data-id="90">Spring Cloud</a>
                                            </li>
                                            <li><a class="menu" href="/l/91_1_12.html" data-id="91">Dubbo</a></li>
                                            <li><a class="menu" href="/l/164_1_12.html" data-id="164">Spring webflux</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/116_1_12.html" data-id="116">软件思想</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/117_1_12.html" data-id="117">设计原则</a></li>
                                            <li><a class="menu" href="/l/118_1_12.html" data-id="118">编程思想</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/126_1_12.html" data-id="126">开源组件</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/127_1_12.html" data-id="127">连接池</a></li>
                                            <li><a class="menu" href="/l/165_1_12.html" data-id="165">日志</a></li>
                                            <li><a class="menu" href="/l/166_1_12.html" data-id="166">工具包</a></li>
                                            <li><a class="menu" href="/l/179_1_12.html" data-id="179">参数校验</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/128_1_12.html" data-id="128">Java SE</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/129_1_12.html" data-id="129">JVM</a></li>
                                            <li><a class="menu" href="/l/141_1_12.html" data-id="141">集合</a></li>
                                            <li><a class="menu" href="/l/149_1_12.html" data-id="149">IO</a></li>
                                            <li><a class="menu" href="/l/156_1_12.html" data-id="156">并发</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/142_1_12.html" data-id="142">数据结构</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/143_1_12.html" data-id="143">树</a></li>
                                            <li><a class="menu" href="/l/150_1_12.html" data-id="150">基础数据结构</a></li>
                                        </ul>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/178_1_12.html" data-id="178">常见协议</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="menu" href="/l/92_1_12.html" data-id="92">常用中间件<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li><a class="menu" href="/l/94_1_12.html" data-id="94">关系数据库</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/99_1_12.html" data-id="99">Mysql</a></li>
                                            <li><a class="menu" href="/l/100_1_12.html" data-id="100">Oracle</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/95_1_12.html" data-id="95">NoSQL</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/101_1_12.html" data-id="101">Redis</a></li>
                                            <li><a class="menu" href="/l/102_1_12.html" data-id="102">Memcache</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/96_1_12.html" data-id="96">Web服务器</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/103_1_12.html" data-id="103">Tomcat</a></li>
                                            <li><a class="menu" href="/l/104_1_12.html" data-id="104">Nginx</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/97_1_12.html" data-id="97">负载均衡器</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/108_1_12.html" data-id="108">LVS</a></li>
                                            <li><a class="menu" href="/l/109_1_12.html" data-id="109">Nginx</a></li>
                                            <li><a class="menu" href="/l/110_1_12.html" data-id="110">HAProxy</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/105_1_12.html" data-id="105">高可用</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/106_1_12.html" data-id="106">Keeplived</a></li>
                                            <li><a class="menu" href="/l/107_1_12.html" data-id="107">Heartbeat</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/119_1_12.html" data-id="119">文件存储</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/120_1_12.html" data-id="120">fast DFS</a></li>
                                            <li><a class="menu" href="/l/123_1_12.html" data-id="123">go fastDFS</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/134_1_12.html" data-id="134">运维监控</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/135_1_12.html" data-id="135">Zabbix</a></li>
                                            <li><a class="menu" href="/l/148_1_12.html" data-id="148">ELK</a></li>
                                        </ul>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/175_1_12.html" data-id="175">链路追踪</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="menu" href="/l/98_1_12.html" data-id="98">问题与解决<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li class="empty"><a class="menu" href="/l/111_1_12.html" data-id="111">程序异常</a>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/112_1_12.html" data-id="112">网络异常</a>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/113_1_12.html" data-id="113">系统异常</a>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/114_1_12.html" data-id="114">常见问题</a>
                                    </li>
                                    <li class="empty"><a class="menu" href="/l/147_1_12.html" data-id="147">JVM问题</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="menu" href="/l/137_1_12.html" data-id="137">面试解答<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li><a class="menu" href="/l/138_1_12.html" data-id="138">Java SE</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/139_1_12.html" data-id="139">java.lang</a></li>
                                            <li><a class="menu" href="/l/140_1_12.html" data-id="140">集合</a></li>
                                            <li><a class="menu" href="/l/144_1_12.html" data-id="144">面向对象</a></li>
                                            <li><a class="menu" href="/l/145_1_12.html" data-id="145">并发</a>
                                                <ul class="nav-right clearfix" id="nav-right">
                                                    <li><a class="menu" href="/l/146_1_12.html"
                                                            data-id="146">volatile</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/161_1_12.html" data-id="161">常用框架</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/162_1_12.html" data-id="162">Spring</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li><a class="menu" href="/l/151_1_12.html" data-id="151">案例与应用<span class="caret"></span></a>
                            <div class="nav-box clearfix">
                                <ul class="nav-aside clearfix">
                                    <li><a class="menu" href="/l/152_1_12.html" data-id="152">系统案例</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/153_1_12.html" data-id="153">平台统一API型</a></li>
                                            <li><a class="menu" href="/l/163_1_12.html" data-id="163">秒杀型应用</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/154_1_12.html" data-id="154">缓存</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/155_1_12.html" data-id="155">缓存注意事项</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/157_1_12.html" data-id="157">请求全流程</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/159_1_12.html" data-id="159">请求全流程概述</a></li>
                                            <li><a class="menu" href="/l/160_1_12.html" data-id="160">TCP连接的建立</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="menu" href="/l/168_1_12.html" data-id="168">分布式</a>
                                        <ul class="nav-right clearfix" id="nav-right">
                                            <li><a class="menu" href="/l/169_1_12.html" data-id="169">分布式锁</a></li>
                                            <li><a class="menu" href="/l/170_1_12.html" data-id="170">分布式事务</a></li>
                                            <li><a class="menu" href="/l/171_1_12.html" data-id="171">分布式全局id</a></li>
                                            <li><a class="menu" href="/l/172_1_12.html" data-id="172">接口幂等性</a></li>
                                            <li><a class="menu" href="/l/173_1_12.html" data-id="173">分布式限流</a></li>
                                            <li><a class="menu" href="/l/174_1_12.html" data-id="174">分布式会话</a></li>
                                            <li><a class="menu" href="/l/176_1_12.html" data-id="176">链路追踪</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-1 col-md-1 col-xs-1">
                    <div class="site">
                        <el-dropdown>
                            <span class="el-dropdown-link">
                                关于本站<span class="caret"></span>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item><a href="/purpose.html">本站宗旨</a></el-dropdown-item>
                                <el-dropdown-item><a href="/feedback.html">建议反馈</a></el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-xs-1">
                    <div class="site">
                        <el-dropdown>
                            <span class="el-dropdown-link">
                                张三<span class="caret"></span>
                            </span>
                            <el-dropdown-menu slot="dropdown">
                                <el-dropdown-item><a href="/myNews.html">消息</a></el-dropdown-item>
                                <el-dropdown-item><a href="/myArticle.html">个人中心</a></el-dropdown-item>
                                <el-dropdown-item><a href="/index.html">退出</a></el-dropdown-item>
                            </el-dropdown-menu>
                        </el-dropdown>
                    </div>
                    <div class="site" style="display:none">
                        <a href="javascript:void(0)" title="登陆注册" id="theme_login" class="theme-login">登陆/注册</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="theme-popover">
    <div class="theme-poptit">
        <a href="javascript:;" title="关闭" class="close">×</a>
        <h3>登录</h3>
    </div>
    <div class="theme-popbod dform">
        <form class="theme-signin" name="loginform" action="" method="post">
            <ol>
                <li><strong>用户名：</strong><input class="ipt" type="text" name="log" value="" size="20"
                        placeholder="邮箱/账户昵称" /></li>
                <li><strong>密码：</strong><input class="ipt" type="password" name="pwd" value="" size="20" /></li>

                <li style="display: flex;justify-content: space-between;width:338px">
                    <div><input class="btn btn-primary" type="checkbox" value="" style="margin-right:6px" />30天免登录</div>
                    <div><a href="" style="color:#169BD5">忘记密码</a></div>
                </li>
                <li><input class="btn btn-primary btnSubmit" type="submit" name="submit" value=" 登 录 " /></li>
                <li style="display: flex;justify-content: space-between;width:338px"><a href=""
                        style="color:#169BD5">注册账号</a></li>
            </ol>
        </form>
    </div>
</div>
<div class="theme-popover-mask"></div>