<div class="sideba">
    <ul>
        <li class="active"><a href="/myArticle.html" target="_blank">我的文章</a></li>
        <li><a href="/articleVersion.html" target="_blank">文章版本</a></li>
        <li><a href="/myNews.html" target="_blank">我的消息</a></li>
        <li><a href="/myAttention.html" target="_blank">我的关注</a></li>
        <li><a href="/personalData.html" target="_blank">个人资料</a></li>
        <li><a href="/passwordModification.html" target="_blank">修改密码</a></li>
        <li><a href="/myFeedback.html" target="_blank">我的反馈</a></li>
        <li><a href="/myContribution.html" target="_blank">我的贡献点</a></li>
        <!-- 管理员 -->
        <li><a href="/articleManagement.html" target="_blank">文章管理</a></li>
        <li><a href="/badManagement.html" target="_blank">差评管理</a></li>
        <li><a href="/adviseManagement.html" target="_blank">建议管理</a></li>  
    </ul>
</div>

