<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-20 21:18:29
 * @LastEditTime: 2021-06-20 21:23:21
 * @LastEditors: yfye
-->
<div class="sideba">
    <ul>
        <li :class="{active:activeName=='/myArticle.html'?true:false}"><a href="/myArticle.html">我的文章</a></li>
        <!-- <li :class="{active:activeName=='/articleVersion.html'?true:false}"><a href="/articleVersion.html">文章版本</a></li>-->
        <li :class="{active:activeName=='/myNews.html'?true:false}"><a href="/myNews.html">我的消息</a></li>
        <li :class="{active:activeName=='/myAttention.html'?true:false}"><a href="/myAttention.html">我的关注</a></li>
        <li :class="{active:activeName=='/personalData.html'?true:false}"><a href="/personalData.html">个人资料</a></li>
        <li :class="{active:activeName=='/passwordModification.html'?true:false}"><a href="/passwordModification.html">修改密码</a></li>
        <li :class="{active:activeName=='/myFeedback.html'?true:false}"><a href="/myFeedback.html">我的反馈</a></li>
        <li :class="{active:activeName=='/myContribution.html'?true:false}"><a href="/myContribution.html">我的贡献点</a></li>
        <!-- 管理员 -->
        <li :class="{active:activeName=='/articleManagement.html'?true:false}"><a href="/articleManagement.html">文章管理</a></li>
        <li :class="{active:activeName=='/badManagement.html'?true:false}"><a href="/badManagement.html">差评管理</a></li>
        <li :class="{active:activeName=='/adviseManagement.html'?true:false}"><a href="/adviseManagement.html">建议管理</a></li>
    </ul>
</div>