<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-20 21:18:29
 * @LastEditTime: 2021-06-20 21:23:21
 * @LastEditors: yfye
-->
<div class="sideba">
    <ul>
        <li class="active"><a href="/myArticle.html">我的文章</a></li>
        <li><a href="/articleVersion.html">文章版本</a></li>
        <li><a href="/myNews.html">我的消息</a></li>
        <li><a href="/myAttention.html">我的关注</a></li>
        <li><a href="/personalData.html">个人资料</a></li>
        <li><a href="/passwordModification.html">修改密码</a></li>
        <li><a href="/myFeedback.html">我的反馈</a></li>
        <li><a href="/myContribution.html">我的贡献点</a></li>
        <!-- 管理员 -->
        <li><a href="/articleManagement.html">文章管理</a></li>
        <li><a href="/badManagement.html">差评管理</a></li>
        <li><a href="/adviseManagement.html">建议管理</a></li>  
    </ul>
</div>

