[v-cloak] {
    display: none;
}

.isManager {
    display: none;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
dl,
dd,
input,
form {
    margin: 0;
    padding: 0;
}

body {
    font: 16px arial, 'Microsoft Yahei';
    /* background-color: #eee; */
    color: #000;
}

li {
    list-style: none;
}

img {
    border: 0 none;
    vertical-align: middle;
}

input {
    outline: none;
    border: 0 none;
}

a {
    text-decoration: none;
    color: #000;
}

em,
i {
    font-style: normal;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.show {
    display: block;
}

.hide {
    display: none;
}


/*bootstrop去除栅格槽宽*/

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: 100%;
}

.row {
    margin: 0;
}

.w1200 {
    width: 1200px;
    margin: 0 auto;
}

.m40 {
    margin-top: 40px;
    min-height: 700px;
}

.content {
    float: left;
    width: 800px;
}

aside {
    float: left;
    width: 350px;
    margin-left: 50px;
}

.bottom {
    width: 100%;
    overflow: hidden;
    background: #373D41;
    margin-top: 10px;
    position: relative;
}

.bottom_foot {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0;
}

.bottom_foot_lb>ul>li {
    width: 100px;
    display: inline-block;
    margin: 0 10px 0;
    text-align: center;
    color: #73777a;
    font-size: 14px;
}

.bottom_foot_lb>ul>li img {
    width: 100%;
}

.bottom_foot_lb>ul>li span {
    line-height: 32px;
}

.bottom_foot_lb {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.bottom_foot_rb {
    width: 100%;
    line-height: 20px;
    text-align: center;
}

.bottom_foot_rb p {
    color: #73777a;
    font-size: 14px;
    margin-bottom: 5px;
}

.bottom_foot_rb p a {
    color: #73777a;
    text-decoration: underline;
}

.bottom_foot_rb p a:hover {
    color: #66CDAA;
}

.bottom_foot_rb p b {
    font-size: 16px;
    color: #66CDAA;
}

.backTop {
    position: fixed;
    right: 40px;
    bottom: 80px;
    cursor: pointer;
    display: none;
}

.sideba {
    margin-bottom: 100px;
}

.sideba ul li {
    line-height: 2;
    font-size: 17px;
    color: #303133;
    margin-right: 23px;
}

.sideba ul li.active {
    background-color: #ecf5ff;
}

.sideba ul li a {
    padding: 6px 10px 6px 14px;
    display: block;
    color: #303133;
    box-sizing: border-box;
    border:1px solid #f3f3f3;
}

.sideba ul li.active a {
    color: #409eff;
}

.detailTitle {
    display: flex;
    margin-top: 13px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #409eff;
}

.detailTitle li {
    margin-right: 20px;
}

.el-form--inline .el-form-item {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
    margin-bottom: 0;
}

.btnGroup {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.requireInput {
    color: red;
}

#btn {
    border: 1px solid #eee;
    padding: 3px;
    margin-left: 6px;
    width: 92px;
    border-radius: 8px;
}