<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:09:25
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/myUser.html" %}
            </aside>
            <div class="content" style="width: 950px;">


                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="name" label="建议类型" align="center">
                    </el-table-column>
                    <el-table-column prop="belong" label="文章名" align="center">
                    </el-table-column>
                    <el-table-column prop="point" label="关注点" align="center">
                    </el-table-column>
                    <el-table-column prop="content" label="建议内容" align="center">
                    </el-table-column>
                    <el-table-column prop="status" label="状态" align="center" :formatter="formatStatus">
                    </el-table-column>
                    <el-table-column prop="dealtime" label="创建时间" align="center">
                    </el-table-column>
                    <el-table-column label="操作" width="250" align="center">
                        <template slot-scope="scope">
              <el-button @click="viewPage()" type="primary" size="small">查看文章</el-button>
            </template>
                        <template slot-scope="scope" v-if="HandleStatus(scope.row.status)">
              <el-button @click="viewDetail()" type="primary" size="small">建议处理</el-button>
            </template>
                    </el-table-column>
                </el-table>
                <div style="margin-top: 30px;">
                    <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage" :page-sizes="[1,5,10,20]" :page-size="pageSize" layout="total, sizes, prev, pager, next, jumper" :total="tableData.length">
                    </el-pagination>
                </div>
                <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
                    <el-form :model="formInline" class="demo-form-inline">

                        <el-form-item label="结果" prop="result">
                            <el-radio-group v-model="formInline.result" size="mini">
                                <el-radio :label="1">采纳</el-radio>
                                <el-radio :label="2">不予处理</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="贡献点">
                            <el-input v-model="formInline.reason" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item label="回复">
                            <el-input type="textarea" v-model="formInline.respons" size="mini"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSearch()" size="mini">提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>


            </div>

        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script>
    $(function() {
        new Vue({
            el: '#app',
            data: function() {
                return {
                    tableData: [{
                        id: 0,
                        name: '2016-05-02',
                        belong: '王小虎',
                        point: 11,
                        content: "啊啊啊",
                        status: 1,
                        dealtime: '上海市普陀区金沙江路 1518 弄'
                    }, {
                        id: 1,
                        name: '2016-05-02',
                        belong: '王小虎',
                        point: 11,
                        content: "啊啊啊",
                        status: 1,
                        dealtime: '上海市普陀区金沙江路 1518 弄'
                    }, {
                        id: 2,
                        name: '2016-05-02',
                        belong: '王小虎',
                        point: 11,
                        content: "啊啊啊",
                        status: 2,
                        dealtime: '上海市普陀区金沙江路 1518 弄'
                    }],
                    currentPage: 1, // 当前页码
                    total: 20, // 总条数
                    pageSize: 2, // 每页的数据条数
                    dialogVisible: false,
                    activeName: window.location.pathname,
                    form: {
                        desc: ""
                    },
                    formInline: {
                        result: '',
                        reason: "",
                        respons: ""
                    },
                    userform: {
                        point: "",
                        name: "",
                        diff: "",
                        bigCont: "",
                        status: ""
                    }
                }

            },
            methods: {
                // 查看详情
                viewDetail() {
                    this.dialogVisible = true
                },
                HandleStatus(status) {
                    return status == 1 ? true : false
                },
                //每页条数改变时触发 选择一页显示多少行
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.currentPage = 1;
                    this.pageSize = val;
                },
                //当前页改变时触发 跳转其他页
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.currentPage = val;
                },
                //状态判断
                formatStatus(row, column, cellValue) {
                    if (cellValue === 1) {
                        return '待审核';
                    } else {
                        return '已审核';
                    }
                },

                onSubmit() {},
                onSearch() {
                    this.dialogVisible = false
                }
            }
        })
    })
</script>

</html>