<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:09:37
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/myUser.html" %}
            </aside>
            <div class="content" style="width: 950px;">

                <el-form :inline="true" :model="userform" class="demo-form-inline" label-width="80px">
                    <el-row>
                        <el-col span="8">
                            <el-form-item label="文章主旨">
                                <el-input v-model="userform.articleGist" placeholder="请输入" size="mini"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col span="8">
                            <el-form-item label="文章名">
                                <el-input v-model="userform.name" placeholder="请输入" size="mini"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col span="8">
                            <el-form-item label="难度级别">
                                <el-select v-model="userform.level" placeholder="请选择" size="mini">
                                    <el-option label="1" value="1"></el-option>
                                    <el-option label="2" value="2"></el-option>
                                    <el-option label="3" value="3"></el-option>
                                    <el-option label="4" value="4"></el-option>
                                    <el-option label="5" value="5"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col span="8">
                            <el-form-item label="所属大纲">
                                <el-cascader ref="cascader" v-model="userform.articleOutlineId" :props="optionProps"
                                    :options="articleOutList" @change="handleChange">
                                </el-cascader>
                            </el-form-item>
                        </el-col>
                        <el-col span="8">

                            <el-form-item label="文章状态">
                                <el-select v-model="userform.status" placeholder="文章状态" size="mini">
                                    <el-option label="全部" value=""></el-option>
                                    <el-option label="草稿" value="1"></el-option>
                                    <el-option label="待审核" value="2"></el-option>
                                    <el-option label="下架" value="3"></el-option>
                                    <el-option label="上架" value="4"></el-option>
                                    <el-option label="审核失败" value="5"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col span="8">
                            <el-form-item>
                                <el-button type="primary" @click="onSubmit" size="mini">搜索</el-button>
                                <el-button type="primary" @click="resetForm('userform')" size="mini">重置</el-button>
                            </el-form-item>
                        </el-col>
                    </el-row>
                </el-form>
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="name" label="文章名" align="center">
                    </el-table-column>
                    <el-table-column prop="articleOutline" label="所属目录" align="center">
                    </el-table-column>
                    <el-table-column prop="articleGist" label="文章主旨" align="center">
                    </el-table-column>
                    <el-table-column prop="articleGist" label="差评内容" align="center">
                    </el-table-column>
                    <el-table-column prop="status" label="文章状态" width="150">
                        <template slot-scope="scope">
                            <span v-html="scope.row.status==1?'草稿':scope.row.status==2?'待审核':
                            scope.row.status==3?'已下架':scope.row.status==4?'已上架':'审核失败'"></span>
                        </template>

                    </el-table-column>
                    <el-table-column prop="createTime" label="创建时间" align="center">
                    </el-table-column>
                    <el-table-column label="操作" width="250" align="center">
                        <template slot-scope="scope">
                            <el-button @click="viewPage(scope.row)" type="primary" size="small">查看文章</el-button>
                            <el-button @click="viewDetail(scope.row)" type="primary" size="small"
                                v-if="scope.row.status!=4?true:false">上架审核</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="margin-top: 30px;">
                    <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="pageNum" :page-sizes="[1,5,10,20]" :page-size="pageSize" :total="totalNum">
                    </el-pagination>
                </div>
                <el-dialog title="查看详情" :visible.sync="dialogVisible" width="30%">
                    <el-form :model="formInline" class="demo-form-inline" :rules="formInlineRules"
                        ref="formInlineRules">

                        <el-form-item label="结果" prop="approveFlag">
                            <el-radio-group v-model="formInline.approveFlag">
                                <el-radio :label="1">上架</el-radio>
                                <el-radio :label="0">上架失败</el-radio>
                            </el-radio-group>
                        </el-form-item>
                        <el-form-item label="贡献点" v-if="formInline.approveFlag==1" prop="contribution">
                            <el-input v-model="formInline.contribution" placeholder="请输入"></el-input>
                        </el-form-item>
                        <el-form-item label="原因" v-if="formInline.approveFlag==0" prop="approveComment">
                            <el-input type="textarea" v-model="formInline.approveComment"></el-input>
                        </el-form-item>
                    </el-form>
                    <span slot="footer" class="dialog-footer">
                        <el-button @click="checkNo()">取 消</el-button>
                        <el-button type="primary" @click="checkYes()">确 定</el-button>
                    </span>
                </el-dialog>
            </div>
            <div class="clearfix"></div>
        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/local.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#app',
            data: function () {
                return {
                    tableData: [],
                    pageNum: 1, // 当前页码
                    totalNum: 0, // 总条数
                    pageSize: 10, // 每页的数据条数
                    dialogVisible: false,
                    deldialogVisible: false,
                    activeName: window.location.pathname,
                    articleOutList: [],
                    optionProps: {
                        value: 'id',
                        label: 'name',
                        children: 'childList',
                        checkStrictly: true
                    },
                    formInline: {
                        approveFlag: 1,
                        contribution: '',
                        approveComment: ""
                    },
                    userform: {
                        articleOutlineId: '',
                        status: "",
                        articleGist: '',
                        name: '',
                        level: '',
                        articleOutlineId: ''
                    },
                    checkRecord: {},
                    FormRules: {
                        desc: [{
                            required: true,
                            message: '请输入下架原因',
                            trigger: 'blur'
                        }]
                    },
                    formInlineRules: {
                        approveFlag: [{
                            required: true,
                            message: '请选择审核类型',
                            trigger: 'change'
                        }],
                        approveComment: [{
                            required: true,
                            message: '请输入原因',
                            trigger: 'blur'
                        }],
                        contribution: [{
                            required: true,
                            message: '请输入贡献点',
                            trigger: 'blur'
                        }]
                    }
                }
            },
            methods: {
                // 查看详情
                viewDetail(record) {
                    this.dialogVisible = true;
                    this.checkRecord = record;
                },
                viewPage(record) {
                    window.location.href = `/articleEdit.html?id=${record.id}&edit=false`
                },
                handleChange(value) {
                    this.userform.articleOutlineId = value[value.length - 1];
                },
                checkYes() {
                    this.$refs.formInlineRules.validate((valid) => {
                        if (valid) {
                            jrequest
                                .PATCH(`/api/article/check/${this.checkRecord.id}`, {
                                    ...this.formInline
                                })
                                .then((res) => {
                                    if (res.data.code == 0) {
                                        this.getData();
                                        for (var key in this.formInline) {
                                            this.formInline[key] = '';
                                            this.formInline['approveFlag'] = 1;
                                        }
                                        $('body').toast({
                                            position: 'fixed',
                                            content: '审核成功',
                                            duration: 3000
                                        });
                                        this.dialogVisible = false
                                    } else {
                                        $('body').toast({
                                            position: 'fixed',
                                            content: res.data.msg,
                                            duration: 3000
                                        });
                                    }
                                });

                        }
                    })
                },
                checkNo() {
                    this.dialogVisible = false
                },
                //每页条数改变时触发 选择一页显示多少行
                handleSizeChange(val) {
                    this.pageNum = 1;
                    this.pageSize = val;
                    this.getData();
                },
                //当前页改变时触发 跳转其他页
                handleCurrentChange(val) {
                    this.pageNum = val;
                    this.getData();
                },
                onSubmit() {
                    this.getData();
                },
                resetForm(formName) {
                    for (var key in this.userform) {
                        this.userform[key] = ''
                    }
                },
                getData() {
                    var params = {};
                    params['pageNum'] = this.pageNum;
                    params['pageSize'] = this.pageSize;
                    params = {
                        ...params,
                        ...this.userform
                    }
                    jrequest
                        .post(`/api/articleComment/negativePage`, params)
                        .then((res) => {
                            if (res.data.code == 0) {
                                this.tableData = res.data.body.data;
                                this.pageNum = res.data.body.pageNum;
                                this.pageSize = res.data.body.pageSize;
                                this.totalNum = res.data.body.totalNum;
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });
                },
                getDaGang() {
                    jrequest
                        .get(`/api/articleOutline/treeForChoose/1/0`)
                        .then((res) => {
                            if (res.data.code == 0) {
                                this.articleOutList = this.getTreeData(res.data.body);
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });
                },
                // 匹配所属大纲
                getTreeData(data) {
                    // 循环遍历json数据
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].childList.length < 1) {
                            // children若为空数组，则将children设为undefined
                            data[i].childList = undefined;
                        } else {
                            // children若不为空数组，则继续 递归调用 本方法
                            this.getTreeData(data[i].childList);
                        }
                    }
                    return data;
                },
            },
            mounted() {
                // 获取列表信息
                this.getData();
                // 获取文章所属大纲
                this.getDaGang();
            }

        })
    })
</script>

</html>