<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:09:56
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>详情页</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/sinaFaceAndEffec.css" />
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/menu.html" %}
            </aside>
            <div class="content" style="width: 950px;" id="content">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item><a href="">前端</a></el-breadcrumb-item>
                    <el-breadcrumb-item><a href="">移动端</a></el-breadcrumb-item>
                    <el-breadcrumb-item>vant</el-breadcrumb-item>
                </el-breadcrumb>

                <div>
                    <ul class="detailTitle">
                        <li>作者:<span>张三</span></li>
                        <li>创建于<span v-html="detailData.createTime"></span></li>
                        <li>修订者李四</li>
                        <li>更新于<span v-html="detailData.updateTime"></span></li>
                    </ul>
                </div>

                <el-dialog title="意见反馈" :visible.sync="dialogVisible" width="1000px" :before-close="handleClose">
                    <el-form ref="form" :model="form" label-width="80px">
                        <el-form-item label="建议内容">
                            <el-input type="textarea" v-model="form.context" :autosize="{ minRows:20, maxRows:40}">
                            </el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit">提交</el-button>
                        </el-form-item>
                    </el-form>
                </el-dialog>

                <div style="min-height: 300px;" v-html="detailData.htmlContent">
                </div>
                <div class="btnGroup">
                    <div>
                        <img src="/images/zan.png" />
                        <p>123</p>
                    </div>
                    <div>
                        <img src="/images/chai.png" />
                        <p>123</p>
                    </div>

                    <div>
                        <img src="/images/fankui.png" @click="dialogVisible = true" />
                    </div>
                </div>

                <div class="wrap">
                    <div class="comment">
                        <div class="head-face">
                            <img src="/images/1.jpg" />
                            <p>我是鸟</p>
                        </div>
                        <div class="content">
                            <div class="cont-box">
                                <textarea class="text" placeholder="请输入..."></textarea>
                            </div>
                            <div class="tools-box">
                                <div class="operator-box-btn"><span class="face-icon">☺</span><span class="img-icon"
                                        @Click="inputInsert()">▧</span></div>
                                <div class="submit-btn"><input type="button" @Click="out()" value="提交评论" /></div>
                            </div>
                        </div>
                    </div>
                    <div id="info-show">
                        <ul></ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/local.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/sinaFaceAndEffec.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#app',
            data: function () {
                return {
                    activeName: window.location.pathname,
                    detailData: {},
                    dialogVisible: false,
                    form: {
                        context: ''
                    }
                }
            },
            mounted() {
                // 绑定表情
                $('.face-icon').SinaEmotion($('.text'));
            },
            methods: {
                onSubmit() {
                    var params = {};
                    params['userId'] = getlocal('userInfo').id;
                    params['context'] = this.form.context;
                    params['articleId'] =this.getQueryVariable('id');                
                    jrequest
                        .post(`/api/advice/add`, params)
                        .then((res) => {
                            if (res.data.code == 0) {
                                this.$message({
                                    message: '感谢您的建议，您可在个人中心 我的反馈 中查看后续处理，如果有后续优化方案，工作人员也会给与说明。祝您生活愉快，工作顺利',
                                    type: 'success'
                                });
                                this.dialogVisible = false
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });
                },

                handleClose(done) {
                    this.form.context = '';
                    this.dialogVisible = false
                },
                getQueryVariable(variable) {
                    var query = window.location.search.substring(1);
                    var vars = query.split("&");
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split("=");
                        if (pair[0] == variable) {
                            return pair[1];
                        }
                    }
                    return (false);
                },
                handleClick(tab, event) {
                    console.log(tab, event);
                },
                // 评论
                reply(content) {
                    var html;
                    html = '<li>';
                    html += '<div class="head-face">';
                    html += '<img src="images/1.jpg" / >';
                    html += '</div>';
                    html += '<div class="reply-cont">';
                    html += '<p class="username">小小红色飞机</p>';
                    html += '<p class="comment-body">' + content + '</p>';
                    // html += '<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>';
                    html += '</div>';
                    html += '</li>';
                    return html;
                },
                out() {
                    var inputText = $('.text').val();
                    $('#info-show ul').append(this.reply(AnalyticEmotion(inputText)));
                },
                inputInsert() {
                    $(".cont-box .text").insertContent('<img src="请在这里输入图片地址" alt=""/>', -10);
                },
                // 意见反馈
                goYijian() {
                    window.open("/feedback.html", "_blank");
                },
                getDetail(id) {
                    jrequest
                        .post(`/api/article/get/${id}`)
                        .then((res) => {
                            if (res.data.code == 0) {
                                this.detailData = res.data.body;
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });
                },
            },
            created() {
                this.getDetail(this.getQueryVariable('id'));
            },
        })
    })
</script>
<style>
    .btnGroup {
        text-align: center;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .btnGroup div {
        cursor: pointer;
    }
</style>

</html>