<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:09:04
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">

            <div class="content">
                <a v-bind:href="'/detail.html?id='+item.id" target="_blank" v-for="(item,index) in tableData"
                    :key="index">
                    <el-card class="box-card list_index" shadow="hover">
                        <div slot="header" class="clearfix">
                            <span v-html="item.name"></span>
                            <el-button style="float: right; padding: 3px 0" type="text" v-html="item.createTime">
                            </el-button>
                        </div>
                        <div class="descc_index" v-html="item.overview"></div>
                        <div class="tag_list">

                            <!-- <div class="text item">
                                <el-tag>{{_item}}</el-tag>
                            </div> -->

                            <div class="allNum">
                                <span v-html="item.scanNum"></span>浏览
                                <span v-html="item.praiseNum"></span>赞
                                <span v-html="item.commentNum"></span>评论
                            </div>
                        </div>
                    </el-card>
                </a>
                <div style="margin-top: 30px">
                    <el-pagination align="center" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="pageNum" :page-sizes="[1,5,10,20]" :page-size="pageSize" :total="totalNum">
                    </el-pagination>
                </div>
            </div>
            <aside>{% include "public/aside.html" %}</aside>
            <div class="clearfix"></div>
        </div>

        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script>
    $(function () {
        new Vue({
            el: "#app",
            data: function () {
                return {
                    // input4: "",
                    pageNum: 1, // 当前页码
                    totalNum: 0, // 总条数
                    pageSize:10, // 每页的数据条数
                    tableData: [],
                    readList:[],
                    zanList:[]
                };
            },
            methods: {
                changeValue(e) {
                },
                //每页条数改变时触发 选择一页显示多少行
                handleSizeChange(val) {
                    this.pageNum = 1;
                    this.pageSize = val;
                    // 获取列表信息
                    this.getData();
                },
                //当前页改变时触发 跳转其他页
                handleCurrentChange(val) {

                    this.pageNum = val;
                    // 获取列表信息
                    this.getData();
                },
                getData() {
                    var params = {};
                    params['pageNum'] = this.pageNum;
                    params['pageSize'] = this.pageSize;
                    jrequest
                        .post(`/api/article/frontPage`, params)
                        .then((res) => {
                            if (res.data.code == 0) {
                                this.tableData = res.data.body.data;
                                this.pageNum = res.data.body.pageNum;
                                this.pageSize = res.data.body.pageSize;
                                this.totalNum = res.data.body.totalNum;
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });
                },
                getNewData(type,n=4){
                    var params = {};
                    params['type'] = type;
                    params['n'] = n;
                    jrequest
                        .post(`/api/article/top`, params)
                        .then((res) => {
                            if (res.data.code == 0) {
                                if(type==1){
                                    this.readList = res.data.body;   
                                }else{
                                    this.zanList = res.data.body;  
                                }
                            } else {
                                $('body').toast({
                                    position: 'fixed',
                                    content: res.data.msg,
                                    duration: 3000
                                });
                            }
                        });


                }
            },
            created() {
                // 获取列表信息
                this.getData();
                this.getNewData(1);  //阅读最多
                this.getNewData(2);  //点赞最多
            },
        });
    });
</script>
<style>
    .el-card__body {
        padding-bottom: 30px;
    }
    .text{
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
</style>

</html>