<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-17 23:47:43
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我的文章</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/myUser.html" %}
            </aside>
            <div class="content" style="width: 950px;">
                <el-row>
                    <el-form :inline="true" :model="formInline" class="demo-form-inline">
                        <el-form-item label="文章名">
                            <el-input v-model="formInline.user" placeholder="文章名搜索"  size="mini"></el-input>
                        </el-form-item>
                        <el-form-item label="文章所属大纲">
                            <el-select v-model="formInline.region" placeholder="文章所属大纲"  size="mini">
                                <el-option label="大纲1" value="1"></el-option>
                                <el-option label="大纲2" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="文章状态">
                            <el-select v-model="formInline.status" placeholder="文章状态"  size="mini">
                                <el-option label="已下线" value="1"></el-option>
                                <el-option label="已上线" value="2"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" @click="onSubmit"  size="mini">查询</el-button>
                        </el-form-item>
                    </el-form>
                </el-row>
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="date" label="文章名" fixed width="150">
                    </el-table-column>
                    <el-table-column prop="name" label="所属大纲" width="150">
                    </el-table-column>
                    <el-table-column prop="province" label="关注点" width="150">
                    </el-table-column>

                    <el-table-column prop="date" label="文章状态" width="150">
                    </el-table-column>
                    <el-table-column prop="name" label="浏览数" width="150">
                    </el-table-column>
                    <el-table-column prop="province" label="点赞数" width="150">
                    </el-table-column>

                    <el-table-column prop="date" label="创建时间" width="150">
                    </el-table-column>
                    <el-table-column prop="name" label="修正时间" width="150">
                    </el-table-column>

                    <el-table-column label="操作" width="300" fixed="right">
                        <template slot-scope="scope">
                            <el-button @click="dialogVisible = true" type="text" size="small">修改</el-button>
                            <el-button type="text" size="small">删除</el-button>
                            <el-button type="text" size="small">上架</el-button>
                            <el-button type="text" size="small">取消上架申请</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="margin-top: 30px;">
                    <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="currentPage" :page-sizes="[1,5,10,20]" :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper" :total="tableData.length">
                    </el-pagination>
                </div>
            </div>
        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#app',
            data: function () {
                return {
                    activeName: 'second',
                    tableData: [{
                        date: '2016-05-02',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1518 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-04',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1517 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-01',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1519 弄',
                        zip: 200333
                    }, {
                        date: '2016-05-03',
                        name: '王小虎',
                        province: '上海',
                        city: '普陀区',
                        address: '上海市普陀区金沙江路 1516 弄',
                        zip: 200333
                    }],
                    currentPage: 1, // 当前页码
                    total: 20, // 总条数
                    pageSize: 2, // 每页的数据条数
                    formInline: {
                        user: '',
                        region: '1',
                        status:'1'
                    }
                }
            },
            methods: {
                onSubmit() {
                    console.log('submit!');
                },
                //每页条数改变时触发 选择一页显示多少行
                handleSizeChange(val) {
                    console.log(`每页 ${val} 条`);
                    this.currentPage = 1;
                    this.pageSize = val;
                },
                //当前页改变时触发 跳转其他页
                handleCurrentChange(val) {
                    console.log(`当前页: ${val}`);
                    this.currentPage = val;
                }
            }
        })
    })

</script>

</html>