<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:07:52
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我的关注</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
    <script src="/js/local.js"></script>
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/myUser.html" %}
            </aside>
            <div class="content" style="width: 950px;">
                <div><span>累积贡献点:</span><span v-html="sumpoint"></span></div>
                <div style="margin-bottom:20px"><span>当前贡献点:</span><span v-html="newpoint"></span></div>
                <el-table :data="tableData" border style="width: 100%">
                    <el-table-column prop="time" label="时间" align="center">
                    </el-table-column>
                    <el-table-column prop="event" label="事由" align="center">
                    </el-table-column>
                    <el-table-column prop="value" label="贡献点" align="center">
                    </el-table-column>
                    <el-table-column prop="afterNow" label="当前值(处理之后)" align="center">
                    </el-table-column>
                    <el-table-column prop="afterTotal" label="累计值(处理之后)" align="center">
                    </el-table-column>
                </el-table>
                <div style="margin-top: 30px;">
                    <el-pagination align='center' @size-change="handleSizeChange" @current-change="handleCurrentChange"
                        :current-page="currentPage" :page-sizes="[1,5,10,20]" :page-size="pageSize"
                        :total="totalNum">
                    </el-pagination>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/local.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                activeName: window.location.pathname,
                tableData: [],
                currentPage: 1, // 当前页码
                totalNum: 0, // 总条数
                pageSize: 10, // 每页的数据条数
                sumpoint: 0,
                newpoint: 0
            }
        },
        methods: {
            handleSizeChange(val) {
                this.currentPage = 1;
                this.pageSize = val;
                this.getData();
            },
            //当前页改变时触发 跳转其他页
            handleCurrentChange(val) {
                this.currentPage = val;
                this.getData();
            },
            getData() {
                var params = {};
                params['userId'] = getlocal('userInfo').id;
                params['pageNum'] = this.pageNum;
                params['pageSize'] = this.pageSize;
                jrequest
                    .post(`/api/contributionLog/page`, params)
                    .then((res) => {
                        if (res.data.code == 0) {
                            this.tableData = res.data.body.data;
                            this.pageNum = res.data.body.pageNum;
                            this.pageSize = res.data.body.pageSize;
                            this.totalNum = res.data.body.totalNum;
                        } else {
                            $('body').toast({
                                position: 'fixed',
                                content: res.data.msg,
                                duration: 3000
                            });
                        }
                    });
            },
            getContribution() {
                jrequest
                    .post(`/api/userScore/get/${getlocal('userInfo').id}`, {})
                    .then((res) => {
                        if (res.data.code == 0) {
                          this.sumpoint=res.data.body.contribution;
                          this.newpoint=res.data.body.contributionSum;
                        } else {
                            $('body').toast({
                                position: 'fixed',
                                content: res.data.msg,
                                duration: 3000
                            });
                        }
                    });
            }
        },

        mounted() {
            // 获取列表信息
            this.getData();
            // 查询贡献点
            this.getContribution();
        }
    })
</script>

</html>