<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-07-12 20:17:45
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>详情页</title>
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
  <script src="/js/learn-coding.js"></script>
  <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
  <link rel="stylesheet" href="/css/toast.css">
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/sinaFaceAndEffec.css" />
  <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
  <div id="app" v-cloak>
    {% include "public/header.html" %}
    <div class="w1200 m40">
      <aside style="width: 200px;">
        {% include "public/menu.html" %}
      </aside>
      <div class="content" style="width: 950px;" id="content">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
          <el-breadcrumb-item><a href="">前端</a></el-breadcrumb-item>
          <el-breadcrumb-item><a href="">移动端</a></el-breadcrumb-item>
          <el-breadcrumb-item>vant</el-breadcrumb-item>
        </el-breadcrumb>

        <div style="min-height: 300px;margin-top: 30px;">
          <a href="/detail.html?id={{item.id}}">
            <el-card class="box-card list_index" shadow="hover">
              <div slot="header" class="clearfix">
                <span>1111</span>
                <el-button style="float: right; padding: 3px 0" type="text">2021-10-25</el-button>
              </div>
              <div class="descc_index">22222222</div>
              <div class="tag_list">

                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>
                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>
                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>

                <div class="allNum">
                  <span>12</span>浏览
                  <span>13</span>赞
                  <span>14</span>评论
                </div>
              </div>
            </el-card>
          </a>
          <a href="/detail.html?id={{item.id}}" target="_blank">
            <el-card class="box-card list_index" shadow="hover">
              <div slot="header" class="clearfix">
                <span>1111</span>
                <el-button style="float: right; padding: 3px 0" type="text">2021-10-25</el-button>
              </div>
              <div class="descc_index">22222222</div>
              <div class="tag_list">

                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>
                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>
                <div class="text item">
                  <el-tag>1111</el-tag>
                </div>

                <div class="allNum">
                  <span>12</span>浏览
                  <span>13</span>赞
                  <span>14</span>评论
                </div>
              </div>
            </el-card>
          </a>
          <div style="margin-top: 30px">
            <el-pagination align="center" @size-change="handleSizeChange" @current-change="handleCurrentChange"
              :current-page="currentPage" :page-sizes="[1,5,10,20]" :page-size="pageSize" :total="totalNum">
            </el-pagination>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    {% include "public/footer.html" %}
  </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/sinaFaceAndEffec.js"></script>
<script>
  $(function () {
    new Vue({
      el: '#app',
      data: function () {
        return {
          activeName: window.location.pathname,
          currentPage: 1, // 当前页码
          totalNum: 10, // 总条数
          pageSize: 2, // 每页的数据条数
        }
      },
      mounted() {
        // 绑定表情
        $('.face-icon').SinaEmotion($('.text'));
      },
      methods: {
        //每页条数改变时触发 选择一页显示多少行
        handleSizeChange(val) {
          console.log(`每页 ${val} 条`);
          this.currentPage = 1;
          this.pageSize = val;
        },
        //当前页改变时触发 跳转其他页
        handleCurrentChange(val) {
          console.log(`当前页: ${val}`);
          this.currentPage = val;
        },
        handleClick(tab, event) {
          console.log(tab, event);
        },
        // 评论
        reply(content) {
          var html;
          html = '<li>';
          html += '<div class="head-face">';
          html += '<img src="images/1.jpg" / >';
          html += '</div>';
          html += '<div class="reply-cont">';
          html += '<p class="username">小小红色飞机</p>';
          html += '<p class="comment-body">' + content + '</p>';
          // html += '<p class="comment-footer">2016年10月5日　回复　点赞54　转发12</p>';
          html += '</div>';
          html += '</li>';
          return html;
        },
        out() {
          var inputText = $('.text').val();
          $('#info-show ul').append(this.reply(AnalyticEmotion(inputText)));
        },
        inputInsert() {
          $(".cont-box .text").insertContent('<img src="请在这里输入图片地址" alt=""/>', -10);
        },
        // 意见反馈
        goYijian() {
          window.open("/feedback.html", "_blank");
        }


      }
    })
  })

</script>

</html>
