<!--
 * @Description: 
 * @Author: yfye
 * @Date: 2021-06-05 16:59:35
 * @LastEditTime: 2021-06-27 22:10:31
 * @LastEditors: yfye
-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>我的资料</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
    <script src="/js/learn-coding.js"></script>
    <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
    <link rel="stylesheet" href="/css/toast.css">
    <!--[if lt IE 9]>
	<script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
	<![endif]-->
</head>

<body>
    <div id="app" v-cloak>
        {% include "public/header.html" %}
        <div class="w1200 m40">
            <aside style="width: 200px;">
                {% include "public/myUser.html" %}
            </aside>
            <div class="content" style="width: 950px;">
                <el-form ref="form" :model="sizeForm" label-width="100px" size="mini" :rules="rules" ref="sizeForm"
                    status-icon>

                    <el-form-item label="旧密码" prop="oldPassword">
                        <el-input v-model="sizeForm.oldPassword" type="password"></el-input>
                    </el-form-item>

                    <el-form-item label="新密码" prop="password">
                        <el-input v-model="sizeForm.password" type="password"></el-input>
                    </el-form-item>

                    <el-form-item label="确认新密码" prop="confirmnewp">
                        <el-input v-model="sizeForm.confirmnewp" type="password"></el-input>
                    </el-form-item>


                    <el-form-item size="large">
                        <el-button type="primary" @click="submitForm('sizeForm')">保存</el-button>
                    </el-form-item>
                </el-form>
            </div>
            <div class="clearfix"></div>
        </div>
        {% include "public/footer.html" %}
    </div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/index.js"></script>
<script src="/js/oper.js"></script>
<script src="/js/service.js"></script>
<script src="/js/login.js"></script>
<script src="/js/toast.js"></script>
<script src="/js/local.js"></script>
<script>
    $(function () {
        new Vue({
            el: '#app',
            data: function () {
                var validatePass1 = (rule, value, callback) => {
                    /* 最少6位，至少包括一个大写字母、一个小写字母、一个数字、一个特殊字符 */
                    var reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*?[#?!@$%^&*-]).{6,}$/;
                    if (value === '') {
                        callback(new Error('请输入密码'));
                    }
                    //  else if (!reg.test(value)) {
                    //     callback(new Error('密码格式不正确!'));
                    // }
                    else {
                        callback();
                    }
                };
                var validatePass2 = (rule, value, callback) => {
                    /* 最少6位，至少包括一个大写字母、一个小写字母、一个数字、一个特殊字符 */
                    var reg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*?[#?!@$%^&*-]).{6,}$/;
                    if (value === '') {
                        callback(new Error('请输入密码'));
                    }
                    // else if (!reg.test(value)) {
                    //     callback(new Error('密码格式不正确!'));
                    // } 
                    else if (value != this.sizeForm.password) {
                        callback(new Error('两次输入的密码不一致'));
                    } else {
                        callback();
                    }
                };

                return {
                    activeName: window.location.pathname,
                    sizeForm: {
                        oldPassword: '',
                        password: '',
                        confirmnewp: '',
                    },
                    rules: {
                        oldPassword: [{
                            required: true,
                            trigger: 'blur'
                        }],
                        password: [{
                            required: true,
                            validator: validatePass1,
                            trigger: 'blur'
                        }],
                        confirmnewp: [{
                            required: true,
                            validator: validatePass2,
                            trigger: 'blur'
                        },],

                    }
                }
            },
            methods: {
                submitForm(formName) {
                    let vm = this;
                    this.$refs.form.validate((valid) => {
                        if (valid) {
                            var params = {};
                            // 加密
                            var encrypt = new JSEncrypt();
                            encrypt.setPublicKey(authCode);
                            var oldPassword = encrypt.encrypt(this.sizeForm.oldPassword);
                            var password = encrypt.encrypt(this.sizeForm.password);
                            params['id'] = getlocal('userInfo').id;
                            params['oldPassword'] = oldPassword;
                            params['password'] = password;
                            jrequest
                                .post(`/api/user/changePassword`, params)
                                .then((res) => {
                                    if (res.data.code == 0) {
                                        $('body').toast({
                                            position: 'fixed',
                                            content: '用户密码更新成功',
                                            duration: 3000
                                        });
                                    } else {
                                        $('body').toast({
                                            position: 'fixed',
                                            content: res.data.msg,
                                            duration: 3000
                                        });
                                    }
                                });
                        } else {
                            return false;
                        }
                    });
                }
            }
        })
    })
</script>

<style>
    input[type="file"] {
        display: none;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }

    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }

    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }
</style>

</html>