<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue 测试实例 - 菜鸟教程(runoob.com)</title>
  <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdn.staticfile.org/fingerprintjs2/2.1.0/fingerprint2.min.js"></script>
  <script src="/js/learn-coding.js"></script>
  <script src="https://cdn.bootcss.com/jsencrypt/3.0.0-beta.1/jsencrypt.js"></script>
  <link rel="stylesheet" href="/css/toast.css">
</head>

<body>
  <div id="app">
    <el-row :gutter="20">
      <el-col :span="6">
        <el-select v-model="value" placeholder="请选择" @change="leixing">
          <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="6">
        <el-select v-model="shunxu" placeholder="请选择" @change="shunxuSort">
          <el-option v-for="item in shunXuoptions" :key="item.value" :label="item.label" :value="item.value">
          </el-option>
        </el-select>
      </el-col>
      <el-col :span="6">
        <el-input v-model="keyWords" placeholder="请输入内容" @input="xxx"></el-input>
      </el-col>
    </el-row>
  </div>
  <script src="/js/vue.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/oper.js"></script>
  <script src="/js/service.js"></script>
  <script src="/js/login.js"></script>
  <script src="/js/toast.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        options: [{
          value: '',
          label: '全部'
        }, {
          value: '1',
          label: '茄子'
        }, {
          value: '2',
          label: '香蕉'
        }, {
          value: '3',
          label: '苹果'
        }],
        shunXuoptions: [{
          value: '',
          label: '全部'
        }, {
          value: '1',
          label: '升序'
        }, {
          value: '2',
          label: '降序'
        }],
        value: '',   //分类
        shunxu: '',   //排序
        keyWords: '',  //关键词搜索

        newArr: []
      },
      created() {
        this.getData()   //请求数据
      },
      methods: {
        getData() {
          // 此处需要判断分类的类型
          let url = "https://www.baidu.com";
          if (this.value) {
            url = "https://www.baidu.com?value=" + this.value
          }
          axios.https(url).then(res => {
            // 获取数据,此时判断是升序还是降序，还是全部
            this.goSort(res);
          })
        },
        goSort(res) {
          // 此时判断是出于什么状态
          if (!this.shunxu) {
            // 表示不用排序
            this.guolvKeyWords(res);
          } else if (this.shunxu == 1) {
            // 表示升序
            res.sort(function (a, b) { return a.value - b.value; })
            this.guolvKeyWords(res);
          } else if (this.shunxu == 2) {
            // 表示降序
            res.sort(function (a, b) { return b.value - a.value; });
            this.guolvKeyWords(res);
          }
        },
        //  判断输入的值过滤      
        guolvKeyWords(res) {
          // 判断输入框是否有值
          if (this.keyWords) {
            res.filter(item => item.indexOf(this.keyWords) != -1)   //将可以匹配的过滤出来
            // 去过滤14内的数据
            this.day14Filter(res);
          } else {
            //如果没值
            this.day14Filter(res);
          }

        },
        day14Filter(res) {
          var d1 = new Date('2016/03/28 10:17:22');
          //14天以外的  var arr1=  res.filter((item)=>(parseInt(item.date- d1)/1000/60/24)>14);
          //14天以内的  var arr2=  res.filter((item)=>(parseInt(item.date- d1)/1000/60/24)<14);

          // 过滤之后进行大小值的排序
          arr1.filter((item) => { })

          arr2.filter((item) => { })
          this.newArr = [...arr1, ...arr2]
        },
        // 输入框筛选
        xxx(e) {
          this.getData()
        },
        // 升序降序
        shunxuSort(e) {
          this.getData()
        },
        // 类型判断
        leixing() {
          this.getData()
        }

      },
    })
  </script>
</body>

</html>